@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --silver: 170 170 170;
  --dim-gray: 102 102 102;
  --davys-gray: 85 85 85;
  --delft-blue: 41 59 95;
  --dark-purple: 38 28 44;
  --blush: 212 93 121;
}

body {
  font-family: 'Lexend', sans-serif;
}

h1 {
  @apply text-5xl text-darkPurple font-bold
}

h2 {
  @apply text-4xl text-darkPurple font-bold
}

h3 {
  @apply text-accent mb-10
}

h4 {
  @apply font-bold text-xl text-darkPurple
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl mx-auto
  }

  .bgPattern {
    background-image: url("../../public/backgroundspatterns/pattern2.png");
    background-repeat: repeat;
  }

}